# OS and IDE files
.DS_Store
.idea/
.vscode/
thumbs.db
*.bak
*.tmp
*~

# Compiled files
*.class
*.war
*.jar
*.ear
*.zip
*.tar.gz
*.rar
*.gz
*.bz2
*.tgz
*.exe

# Logs and databases
*.log*
*.sqlite*
*.db
*.sql

# Dependency directories
node_modules/
bower_components/

# Personal and sensitive information
*.pem
*.key
*.env*
*.log*
*.swp
*.swo
*.cache
*.stackdump
*.pid*
*.yml
*.yaml
*.json
*.cert
*.csr
*.crt
*.pfx
*.p12
*.psd
*.psb
*.sketch
*.xd
*.fig
*.ai
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.csv
*.rtf
*.7z
*.bak
*.bkp
*.bakup
*.tar.xz
*.swm
*.lock
*.patch
*.pyc
*.pyo
*.out
*.bin
*.dll
*.obj
*.so
*.dylib
*.keep
*.viminfo
*.cypress/
*.eslintcache
*.parcel-cache/
*.vs/
*.gradle/
build/
*.nyc_output/
coverage/
.cache/
.history/
.sln
*.suo
*.user*
*.pidb
*.ide-wal
*.ide-shm
*.pdb
*.mt*
*.aps
*.clw
*.flc
*.opt
*.plg
*.exp
*.lib
*.tlh
*.tli
*.tlb
*.vbw
*.frm
*.frx
*.mpx
*.dsp
*.dsw
